body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  padding: 16px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-open-btn {
  border: none;
  background-color: transparent;
}
.header-icon {
  fill: #2f2f37;
}
/* #region Навігація */
.nav {
  display: flex;
  align-items: center;
  gap: 120px;
}
.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: flex;
  margin-right: 76px;
}
.logo-header-span {
  color: #2e2f42;
}
.menu {
  display: none;
}
.menu-item {
}
.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  opacity: 0;
}
.menu-link:hover::after,
.menu-link:focus::after,
.menu-link.current::after {
  opacity: 1;
}
.menu-link:hover,
.menu-link:focus,
.menu-link.current {
  color: #404bbf;
}
/* #endregion Навігація */

a {
  text-decoration: none;
}
/* #region Контакти */

.address {
  font-style: normal;
  display: none;
}
.contacts-menu {
  display: flex;
  gap: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.contacts-menu-item {
}
.contacts-menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-menu-link:hover,
.contacts-menu-link:focus {
  color: #404bbf;
}
/* #endregion Контакти */
.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.menu-close-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  margin-left: auto;
  fill: #2e2f42;
  margin-bottom: 24px;
}
.header-menu-icon {
  color: transparent;
}
.mob-menu-cont {
  position: relative;
  padding-top: 72px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mob-contacts-soc-cont {
  margin-top: auto;
}
.mob-nav {
  margin-bottom: auto;
}
.mob-menu-list {
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-link:hover,
.mob-menu-link:focus {
  color: #404bbf;
}
.mob-address {
}
.mob-contacts-menu {
  margin-bottom: 48px;
}
.mob-contacts-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-contacts-menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-contacts-menu-link:hover,
.mob-contacts-menu-link:focus {
  color: #404bbf;
}
.mob-list-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}
.mob-nav ~ .mob-list-contacts-link {
  justify-content: center;
}
.mob-list-contacts-item {
  width: 40px;
  height: 40px;
}
.mob-list-contacts-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.mob-icon {
  fill: #f4f4fd;
}
/* #region Основна частина */
/* #region hero */
.hero {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 72px 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2ddpx),
  (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob-2x.jpg);
  }
}
.hero-container {
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 216px;
  text-align: center;
  margin: 0 auto 72px;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  text-align: center;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
button {
  cursor: pointer;
}

/* #endregion hero */
/* #region Feature */
.feature {
  padding: 96px 16px;
}
.container.feature-container {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-title {
}
.feature-list {
  display: flex;
  /* gap: 24px; */
  gap: 72px;
  flex-wrap: wrap;
}

.container-icon {
  display: none;
}
.feature-list-icon {
}
.feature-list-title {
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
.feature-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #434455;
}

/* #endregion Feature */
/* #region Our team */
.our-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.our-team-title {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
.our-team-list-item {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  text-align: center;
  border-radius: 0 0 4px 4px;
}
.our-team-container {
  padding-bottom: 32px;
  padding-top: 32px;
  margin: 0;
}
.our-team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.our-team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.our-team-list-contacts {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0 16px;
}
.our-team-list-contacts-item {
  width: 40px;
  height: 40px;
}
.our-team-list-contacts-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.our-team-list-contacts-link:hover,
.our-team-list-contacts-link:focus {
  background-color: #404bbf;
}
.our-team-icon {
  fill: #f4f4fd;
}
/* #endregion Our team */
/* #region Our Portfolio */
.our-portfolio {
  padding: 96px 0;
}
.our-portfolio-title {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.our-portfolio-list-item {
  width: 360px;
  height: 400px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}
.our-portfolio-cover-text {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-list-item:hover .our-portfolio-cover-text {
  transform: translate(0);
}
.our-portfolio-container {
  padding: 32px 16px;
  border-top: none;
}
.our-portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion Our Portfolio */

/* #endregion Основна частина */
/* #region Footer */
.footer {
  background: #2e2f42;
  padding: 96px 0;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.logo-footer-span {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 100%;
}
.footer-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-right: 120px; */
}
.footer-container-logo {
  margin-bottom: 72px;
}
.footer-contacts-container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 208px;
  height: 80px;
  margin-right: 80px; */
  margin: 0 auto 72px;
}
.footer-contacts-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}
.footer-contacts-list {
  display: flex;
  /* align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row; */
  gap: 16px;
}
.footer-contacts-item {
  width: 40px;
  height: 40px;
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  background-color: #31d0aa;
}
.footer-contacts-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts-icon {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}
.footer-cont-subscribe {
  /* display: flex;
  flex-wrap: wrap; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.subscribe-label {
}
.subscribe-input {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 400;
  border: 1px solid #fff;
  border-radius: 4px;
  height: 40px;
  width: 288px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: none;
  padding: 8px 16px;
  color: #ffffff;
  opacity: 0.3;
}
.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.subscribe-btn-submit {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn-submit:hover,
.subscribe-btn-submit:focus {
  background-color: #4d5ae5;
}
.footer-btn-svg {
  fill: #fff;
  margin-left: 16px;
}
/* #endregion Footer */
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
/* #region modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  /* width: 408px; */
  width: 288px;
  /* min-height: 584px; */
  min-height: 623px;
  /* padding: 72px 24px 24px 24px; */
  padding: 72px 16px 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #fff;
  background-color: #404bbf;
  border: none;
}
.close-icon {
  color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-wrapper-cont {
  margin-bottom: 8px;
}
.modal-form-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}
.modal-cont-input {
  position: relative;
}
.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-wrapper-cont-content {
  margin-bottom: 16px;
}

.textarea {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  outline: none;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
}
.textarea:focus {
  border-color: #4d5ae5;
}
.textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.checkbox:checked + .custom-label-user-checkbox > .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.custom-label-user-checkbox {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}
.privacy-policy {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-cont-checkbox {
  margin-bottom: 24px;
}
.custom-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-submit {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  margin: 0 auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion modal */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* #region header */
  .menu-open-btn {
    display: none;
  }
  .logo-header {
    margin: 8px 0;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .address {
    display: flex;
  }
  .contacts-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
  }

  /* #endregion header */
  /* #region hero */
  .hero {
    padding: 112px 136px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    min-width: 496px;
  }
  @media screen and (min-resolution: 2ddpx), (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }
  /* #endregion hero*/
  /* #region feature */
  .feature-list {
    gap: 72px 24px;
  }
  .feature-list-item {
    width: calc((100% - 24px) / 2);
  }
  .feature-list-title {
    text-align: left;
  }
  /* #endregion feature */
  /* #region our-team */
  .our-team-list {
    gap: 64px 24px;
  }
  /* #endregion our-team */
  /* #region our-portfolio */
  .our-portfolio-list {
    gap: 72px 24px;
  }
  .our-portfolio-list-item {
    height: 420px;
    width: calc((100% - 24px) / 2);
  }
  /* #endregion our-portfolio */
  .mob-menu {
    display: none;
  }
  /* #region footer */
  .logo-footer {
    display: inline-block;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-container-logo {
    margin-right: 24px;
  }
  .footer-contacts-container {
    margin: 0;
  }
  .footer-contacts-text {
    display: flex;
    align-self: flex-start;
  }
  .subscribe-text {
    display: flex;
    align-self: flex-start;
  }
  .form {
    gap: 24px;
  }
  /* #endregion footer */
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* #region header */
  .menu {
    display: flex;
  }
  .contacts-menu {
    flex-direction: row;
    gap: 40px;
  }
  /* #endregion header */
  /* #region hero */
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
  }
  .hero-title {
    margin: 0 auto 48px;
  }
  @media screen and (min-resolution: 2ddpx), (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-2x.jpg);
    }
  }
  /* #endregion hero */
  /* #region feature */
  .feature {
    padding: 120px 0;
  }
  .feature-list {
    gap: 24px;
  }
  .feature-list-item {
    width: calc((100% - 72px) / 4);
  }
  .feature-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .container-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* #endregion feature */
  /* #region our-team */
  .our-team {
    padding: 120px 0;
  }
  .our-team-list {
    gap: 24px;
  }
  /* #endregion our-team */
  /* #region our-portfolio */
  .our-portfolio {
    padding: 120px 0;
  }
  .our-portfolio-list {
    gap: 48px 24px;
  }
  .our-portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
  /* #endregion our-portfolio */
  /* #region footer */
  .footer {
    padding: 100px 0;
  }
  .footer-container-logo {
    margin-right: 120px;
  }
  .footer-contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 80px;
    margin-right: 80px;
  }
  .subscribe-input {
    width: 264px;
  }
  /* #endregion footer */
}
